body {
    font-family: Arial, sans-serif;
    background-color: #1a1a2e;
}
/* *{
    background-color: #1a1a2e;
} */
/* .container {
    background-color: #1a1a2e;
    /* padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 25px; } */

.container{
    margin-left: 10px;
}
h1 {
    color: #fffbfb;
}

label {
    display: block;
    margin-top: 10px;
    color: #fffbfb;
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    color: #fffbfb;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    color: #fffbfb;
}

button:hover {
    background-color: #0056b3;
}

.detail-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    background-color: #f9f9f9;
}

footer {
    background-color: #2C2F33;  /* Dark background */
    color: white;                /* White text */
    text-align: center;          /* Centered text */ 
    position: fixed;             /* Fixed position */
    bottom: 0;                   /* Bottom of the page */
    width: 100%;                 /* Full width */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}
.navbar {
    width: 200px;
    background-color: #1a1a2e;
    padding: 20px;
    color: white;
    position: fixed; /* Fix navbar on the side */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scrolling if needed */
}
.section {
    margin-bottom: 20px;
}
.button {
    display: block;
    padding: 10px;
    border-radius: 8px;
    margin: 5px 0;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.new-order {
    background-color: #007BFF; /* Blue */
}
.mass-order, .services, .add-funds, .orders, .refunds, .refill {
    background-color: #6c757d; /* Gray */
}
.container {
    margin-left: 240px; /* Space for the navbar */
    padding: 30px;
}
.detail-box {
    margin-top: 20px;
}
.navbar-logo {
    height: 60px; /* Adjust height */
    margin-right: 15px; /* Space between logo and nav items */
    border-radius: 100px;
}
.logo-container{
    display: flex;
    justify-content: center; /* Centers the logo horizontally */
    align-items: center;    /* Centers the logo vertically */
}
.announcement-bar {
    display: flex;
    align-items: center;
    background-color: #1a1a2e; /* Darker Shade */
    padding: 10px;
    padding-left: 280px;
    padding-top: 40px;
    color: white
}
.announcement-label {
    background-color: #ee135c; /* Orange Button */
    border-radius: 15px;
    padding: 5px 15px;
    margin-right: 25px;
}
.announcement-text {
    white-space: nowrap;
    color: #ecf0f1; /* Lighter Text Color */
}